{% extends 'base.html.twig' %}

{% block title 'Liste des produits' %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    <turbo-frame id="products_list">
        <ul>
            {% for product in products %}
                <li>{{ product.title }}</li>
            {% endfor %}
        </ul>
    </turbo-frame>
{% endblock %}