{% extends 'base.html.twig' %}

{% block title 'Contact' %}

{% block body %}
    <h1>{{ block('title') }}</h1>
    
    <div>
        <turbo-frame id="contact_form">
            {% include 'pages/contact/partials/_form.html.twig' with {
                form: contactForm,
            } only %}
        </turbo-frame>
    </div>
{% endblock %}