{# Mise à jour du formulaire pour vider les champs #}
<turbo-stream action="update" target="contact_form">
    <template>
        {% include 'pages/contact/partials/_form.html.twig' with {
            form: contactForm,
        } only %}
    </template>
</turbo-stream>

{# Ajout d'un "flash message" au dessus du formulaire, dans la frame "contact_form" #}
<turbo-stream action="prepend" target="contact_form">
    <template>
        <p style="font-weight: bold; color: green">Merci pour votre message {{ contactName }} !</p>

        <hr>
    </template>
</turbo-stream>